@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');
.modernwarfare2.platform-select.portal-screen-container .wtb-portal-tout {
  box-shadow: inset 0px 0px 15px #fff;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease 0.2s;
  -moz-transition: opacity 0.5s ease 0.2s;
  -ms-transition: opacity 0.5s ease 0.2s;
  -o-transition: opacity 0.5s ease 0.2s;
  transition: opacity 0.5s ease 0.2s;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal.active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 9999;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal.active > .inner {
  width: 90vw;
  max-width: 400px;
  height: 200px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .modernwarfare2.platform-select.portal-screen-container .region-select-modal.active > .inner {
    margin-top: 0;
    overflow: unset;
  }
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal.active .background-container {
  background-color: rgba(0, 0, 0, 0.875);
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transition: background-color 1s ease 0.2s;
  -moz-transition: background-color 1s ease 0.2s;
  -ms-transition: background-color 1s ease 0.2s;
  -o-transition: background-color 1s ease 0.2s;
  transition: background-color 1s ease 0.2s;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal > .inner {
  position: absolute;
  padding: 2rem 1rem;
  border-top: 2px solid #79d9ff;
  border-left: 2px solid #2a2e31;
  background-color: rgba(0, 0, 0, 0.95);
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: opacity 1.3s ease 1s;
  -moz-transition: opacity 1.3s ease 1s;
  -ms-transition: opacity 1.3s ease 1s;
  -o-transition: opacity 1.3s ease 1s;
  transition: opacity 1.3s ease 1s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-message {
  margin-bottom: 1rem;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn {
  display: inline-block;
  background-image: url('../../../../../../../../content/dam/atvi/callofduty/cod-touchui/kronos/common/ui-elements/blue-tile.png');
  background-color: #242424;
  color: #94bbc2;
  box-shadow: inset 0px 0px 5px #597985;
  border: 1px solid #597985;
  line-height: 42px;
  padding: 0 20px;
  min-width: 150px;
  transition-property: text-shadow, background-color, border, color;
  transition-duration: 1s;
  position: relative;
  font-size: 16px;
  text-shadow: 0px 0px 0px #97cde1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:before,
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:after {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(151, 205, 225, 0.5), #79d9ff 20%, #79d9ff 80%, rgba(151, 205, 225, 0.5));
  transform: scaleX(0);
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:before {
  bottom: -1px;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:after {
  top: -1px;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:hover {
  background-color: #282828;
  text-shadow: 0px 0px 10px #79d9ff;
  color: #79d9ff;
}
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:hover:before,
.modernwarfare2.platform-select.portal-screen-container .region-select-modal .modal-btn:hover:after {
  transform: scaleX(1);
  box-shadow: 0px 0px 10px;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
@media screen and (min-width: 1024px) {
  .modernwarfare2.platform-select.portal-screen-container .additional-content-container > .inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
  }
}
.modernwarfare2.platform-select.portal-screen-container .sub-screen-container {
  gap: 20px;
}
.modernwarfare2.platform-select.portal-screen-container .sub-screen-container > div.experiencefragment {
  width: 100%;
}
.modernwarfare2.platform-select.portal-screen-container .steam.wtb-portal-tout .platform-logo-image-container,
.modernwarfare2.platform-select.portal-screen-container .pc.wtb-portal-tout .platform-logo-image-container {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.modernwarfare2.platform-select.portal-screen-container .steam.wtb-portal-tout .platform-logo-image-container img,
.modernwarfare2.platform-select.portal-screen-container .pc.wtb-portal-tout .platform-logo-image-container img {
  width: 50%;
  margin: 0 auto;
  display: block;
}
@media (min-width: 945px) {
  .modernwarfare2.platform-select.portal-screen-container .platform-disclaimers {
    max-width: 1280px;
    width: 62.5%;
    margin: 40px auto 0 0;
    padding: 0 15px;
  }
}
.modernwarfare2.platform-select.portal-screen-container .platform-disclaimers p {
  margin-bottom: 15px;
  font-size: 12px;
}
.modernwarfare2.platform-select.portal-screen-container .platform-disclaimers p a {
  color: #FFF;
}
